<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar-3 w-nav">
      <div class="brand-wrapper">
        <a href="{{siteUrl}}index" aria-current="page" class="brand-2 w-nav-brand w--current"><img src="images/Hatch_Logo_Icon.svg" alt="" class="logo"></a>
<nav role="navigation" class="nav-menu-2 w-nav-menu">
          <div class="nav-link-wrapper">
            <a href="{{siteUrl}}about" class="nav-link w-nav-link">About</a>
            <div class="nav-link-color"></div>
          </div>
          <div class="nav-link-wrapper">
            <a href="{{siteUrl}}what-we-do" class="nav-link w-nav-link">What we do</a>
            <div class="nav-link-color light-blue"></div>
          </div>
          <div class="nav-link-wrapper">
            <a href="{{siteUrl}}our-work" class="nav-link w-nav-link">our Work</a>
            <div class="nav-link-color orange"></div>
          </div>
          <div class="nav-link-wrapper">
            <a href="{{siteUrl}}contact" class="nav-link nav-last w-nav-link">Contact</a>
            <div class="nav-link-color red"></div>
          </div>
        </nav>
<div class="menu-button w-nav-button">
          <div class="icon w-icon-nav-menu"></div>
        </div>
      </div>
    </div>